.container
  %h2 Edit project
  - if user_project_creator?
    = simple_form_for @project, url: user_project_path, method: :put do |f|
      = f.input :name
      = f.input :information
      = f.button :submit, 'Update'
    %hr
    %span= link_to 'Delete this project', user_project_path(@user.id, @project.id), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger'
  - else user_same_as_current?
    %h1= @project.name
    %p= @project.information
    %p= @project.creator.full_name
    %hr
    %p You are not the author of the project, so you can't edit it. But you can cancel your participation by clicking the button below.
    =link_to 'Cancel participation', '#'
