.container
  %h2 Edit profile
  .row
    .col-md-4
      .panel.panel-danger
        .panel-heading Settings
        %ul.list-group
          = link_to 'General Settings', edit_user_registration_path, class: 'list-group-item'
          = link_to 'Skills', user_skills_path(current_user), class: 'list-group-item'
    .col-md-4
      .panel.panel-info
        .panel-heading My skills
        %ul.list-group.user-skills
          - @skills.each do |skill|
            %li.list-group-item= skill.name
      %h3 Add new skill
      = simple_form_for @new_skill, url: user_skills_path(current_user), remote: true do |f|
        = f.input :name, placeholder: 'Add your skill name here!', required: true, label: false
        = f.button :submit, 'Go!'
      %br
      .alert.alert-success#success Successfully added!
      .alert.alert-warning#error
