.container
  %h2 Control Panel
  .row
    .col-md-4
      .panel.panel-danger
        .panel-heading Panels
        %ul.list-group
          = link_to 'General Settings', edit_user_registration_path, class: 'list-group-item'
          = link_to 'Skills', edit_user_path(current_user), class: 'list-group-item'
          = link_to 'Projects', user_projects_path(current_user), class: 'list-group-item'
          = link_to 'Announcements', user_announcements_path(current_user), class: 'list-group-item'
          = link_to 'Messages', user_messages_path(current_user), class: 'list-group-item'
    .col-md-4
      .panel.panel-info
        .panel-heading My skills
        %ul.list-group.user-skills
          - @skills.each do |skill|
            = render 'skills/partials/skill_list_item', skill: skill
      #skill
        %h3 Add new skill
        = render 'skills/partials/form'
      %br
      .alert.alert-success#success
