.container
  %h2 Edit profile
  .row
    .col-md-4
      .panel.panel-danger
        .panel-heading Settings
        %ul.list-group
          = link_to 'General Settings', edit_user_registration_path, class: 'list-group-item'
          = link_to 'Skills', user_skills_path(current_user), class: 'list-group-item'
    .col-md-4
      .panel.panel-info
        .panel-heading My skills
        %ul.list-group.user-skills
          - @skills.each do |skill|
            %li.list-group-item{id: "skill_#{skill.id}"}
              .btn-toolbar
                %span= skill.name
                -# %a.btn.btn-default.btn-xs.pull-right{ title: 'Edit' }
                -#   %span.glyphicon.glyphicon-pencil
                = link_to user_skill_path(current_user.id, skill.id), class: 'btn btn-danger btn-xs pull-right', remote: true, method: :delete do
                  Delete
                  %span.glyphicon.glyphicon-remove
      %h3 Add new skill
      = simple_form_for @new_skill, url: user_skills_path(current_user), remote: true do |f|
        = f.input :name, placeholder: 'Add your skill name here!', required: true, label: false
        = f.button :submit, 'Go!'
      %br
      .alert.alert-success#success
      .alert.alert-warning#error
