.container
  %h1= @user.full_name
  %hr
  .row
    .col-md-4
      = image_tag @user.avatar.url(:medium), class: 'img-rounded img-responsive'
    .col-md-4
      .panel.panel-info
        .panel-heading
          %h4
            About
            = @user.first_name
        .panel-body
          = @user.about_me
    .col-md-4
      .panel.panel-info
        .panel-heading
          %h4 Skills
        %ul.list-group
        - @user.skills.each do |skill|
          %li.list-group-item= skill.name
  %hr
  .row
    .col-md-4
      .panel.panel-info
        .panel-heading
          %h4 Information
        %table.table.table-bordered
          %tr
            %td E-mail
            %td= @user.email
          - if @user.birth_date
            %tr
              %td Birth Date
              %td= @user.birthday
          %tr
            %td Faculty
            %td= @user.faculty
    .col-md-8
      .panel.panel-info
        .panel-heading
          %h4 Announcements
        .panel-body
  %hr
  .row
    .col-md-12
      .panel.panel-info
        .panel-heading
          %h3 Projects
        %table.table.table-bordered
          %tr
            %th Project name
            %th Date created
            %th Role
            %th
              Started by
              = @user.first_name
              ?
          - @projects.each do |project|
            %tr
              %td= project.name
              %td= project.date_created
              %td= project.role
              %td
                - if project.is_creator
                  Yes
                - else
                  No
