.container-fluid
  %hr
  .container-fluid
    .row
      .col-md-4
        .h4 Search
        = simple_form_for :search, url: url_for(action: 'search', controller: 'projects'), method: :get, html: { class: 'form-inline' } do |f|
          .form-group
            = f.input :project_name, required: false, placeholder: 'Type project name here', class: 'form-control', label: false
          = f.button :submit, 'Go!', class: 'btn btn-default'
    %hr
    .row
      .col-md-12
        .panel.panel-info
          .panel-heading
            %h3 Projects
          %table.table.table-bordered
            %tr
              %th Project name
              %th Project information
              %th Created by
              %th Created at
              %th Last updated at
              %th Repository
            - @projects.each do |project|
              %tr
                %td= link_to  project.name, project_path(project.id)
                %td= project.information
                %td= link_to  project.creator.full_name, user_path(project.creator_id)
                %td= project.date_created
                %td= project.date_updated
                %td= link_to project.repository_url, project.repository_link
